<!-- Heading -->
<div class="card mb-4 wow fadeIn">

  <!--Card content-->
  <div class="card-body">

    <div class="mb-sm-0">
      <a href="/v1">Dashboard</a>
      <span>/</span>
      <span>Overview</span>
    </div>

  </div>

</div>
<!-- Heading -->

<app-stats-card2></app-stats-card2>


<!-- <app-stats-card></app-stats-card> -->



<!--Grid row-->
<!-- <div class="row wow fadeIn mt-5">

  <div class="col-md-9 mb-4">


    <div class="card">


      <div class="card-body">

        <div style="display: block">
          <canvas mdbChart [chartType]="chart1Type" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
            [legend]="true">
          </canvas>
        </div>
      </div>

    </div>


  </div>


  <div class="col-md-3 mb-4">

    <div class="card mb-4">

      <div class="card-header text-center">
        Pie chart
      </div>

      <div class="card-body">

        <div style="display: block">
          <canvas mdbChart [chartType]="chart2Type" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
            [legend]="true">
          </canvas>
        </div>
      </div>

    </div>

    <div class="card mb-4">

      <div class="card-body">

        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action waves-effect">Sales
            <span class="badge badge-success badge-pill pull-right">22%
              <mdb-icon fas icon="arrow-up" class="ml-1"></mdb-icon>
            </span>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">Traffic
            <span class="badge badge-danger badge-pill pull-right">5%
              <mdb-icon fas icon="arrow-down" class="ml-1"></mdb-icon>
            </span>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">Orders
            <span class="badge badge-primary badge-pill pull-right">14</span>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">Issues
            <span class="badge badge-primary badge-pill pull-right">123</span>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">Messages
            <span class="badge badge-primary badge-pill pull-right">8</span>
          </a>
        </div>

      </div>

    </div>

  </div>

</div> -->

