<section class="mt-lg-5 stats-2">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-xl-4 col-md-6 mb-r">
            <!--Card Primary-->
            <div class="card classic-admin-card primary-color">
                <div class="card-body">
                    <h4>
                       Card 1
                    </h4>
                </div>
                <div class="card-body">
                    <p>Sample description about card 1</p>
                    <p color="primary" class="relative waves-light view-details" (click)="basicModal.show()"
        mdbWavesEffect>View Details</p>
                </div>
            </div>
            <!--/.Card Primary-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-xl-4 col-md-6 mb-r">
            <!--Card Warning-->
            <div class="card classic-admin-card warning-color">
                <div class="card-body">
                    <h4>
                        Card 2
                    </h4>
                </div>
                <div class="card-body">
                    <p>Sample description about card 2</p>
                    <p color="primary" class="relative waves-light view-details" (click)="basicModal.show()"
        mdbWavesEffect>View Details</p>
                </div>
            </div>
            <!--/.Card Warning-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-xl-4 col-md-6 mb-r">
            <!--Card Blue-->
            <div class="card classic-admin-card light-blue lighten-1">
                <div class="card-body">
                    <h4>
                        Card 3
                    </h4>
                </div>
                <div class="card-body">
                    <p>Sample description about card 3</p>
                    <p color="primary" class="relative waves-light view-details" (click)="basicModal.show()"
        mdbWavesEffect>View Details</p>
                </div>
            </div>
            <!--/.Card Blue-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row card-row">
        <!--Grid column-->
        <div class="col-xl-4 col-md-6 mb-r">
            <!--Card Red-->
            <div class="card classic-admin-card red accent-2">
                <div class="card-body">
                    <p>ORGANIC TRAFFIC</p>
                    <h4>
                        <strong>2000</strong>
                    </h4>
                </div>
                <div class="card-body">
                    <p>Better than last week (25%)</p>
                    <p color="primary" class="relative waves-light view-details" (click)="basicModal.show()"
        mdbWavesEffect>View Details</p>
                </div>
            </div>
            <!--/.Card Red-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-xl-4 col-md-6 mb-r">
            <!--Card Primary-->
            <div class="card classic-admin-card success-color">
                <div class="card-body">
                    <p class="white-text">SALES</p>
                    <h4>
                        <strong>$2000</strong>
                    </h4>
                </div>
                <div class="card-body">
                    <p>Better than last week (25%)</p>
                    <p color="primary" class="relative waves-light view-details" (click)="basicModal.show()"
        mdbWavesEffect>View Details</p>
                </div>
            </div>
            <!--/.Card Primary-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-xl-4 col-md-6 mb-r">
            <!--Card Warning-->
            <div class="card classic-admin-card secondary-color">
                <div class="card-body">
                    <p>SUBSCRIPTIONS</p>
                    <h4>
                        <strong>200</strong>
                    </h4>
                </div>
                <div class="card-body">
                    <p>Worse than last week (25%)</p>
                    <p color="primary" class="relative waves-light view-details" (click)="basicModal.show()"
        mdbWavesEffect>View Details</p>
                </div>
            </div>
            <!--/.Card Warning-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->


    <!--Grid row-->
    <div class="row card-row">
        <!--Grid column-->
        <div class="col-xl-4 col-md-6 mb-r">
            <!--Card Primary-->
            <div class="card classic-admin-card orange darken-3">
                <div class="card-body">
                    <p class="white-text">SALES</p>
                    <h4>
                        <strong>$2000</strong>
                    </h4>
                </div>
                <div class="card-body">
                    <p>Better than last week (25%)</p>
                    <p color="primary" class="relative waves-light view-details" (click)="basicModal.show()"
        mdbWavesEffect>View Details</p>
                </div>
            </div>
            <!--/.Card Primary-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-xl-4 col-md-6 mb-r">
            <!--Card Blue-->
            <div class="card classic-admin-card default-color lighten-1">
                <div class="card-body">
                    <p>TRAFFIC</p>
                    <h4>
                        <strong>20000</strong>
                    </h4>
                </div>
                <div class="card-body">
                    <p>Better than last week (75%)</p>
                    <p color="primary" class="relative waves-light view-details" (click)="basicModal.show()"
        mdbWavesEffect>View Details</p>
                </div>
            </div>
            <!--/.Card Blue-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-xl-4 col-md-6 mb-r">
            <!--Card Red-->
            <div class="card classic-admin-card unique-color accent-2">
                <div class="card-body">
                    <p>ORGANIC TRAFFIC</p>
                    <h4>
                        <strong>2000</strong>
                    </h4>
                </div>
                <div class="card-body">
                    <p>Better than last week (25%)</p>
                    <p color="primary" class="relative waves-light view-details" (click)="basicModal.show()"
        mdbWavesEffect>View Details</p>
                </div>
            </div>
            <!--/.Card Red-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <app-basic-table></app-basic-table>
                </div>
                <div class="modal-footer">
                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                        (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                </div>
            </div>
        </div>
    </div>
</section>